body {
  direction: rtl;
  font-size: 14px;
  font-family: Arial;
  background: #eaeaea;
  margin-top: 50px;
}

.summon-button {
  padding: 8px 26px;
  background-color: #8762fd;
  box-shadow: 2.5px 4.3px 21px 0 rgba(0, 0, 0, 0.15);
  color: white;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  border-color: transparent;
  margin-right: 150px;
  &:disabled {
	background-color: #dadada;
	color: #cccccc;
	box-shadow: none;
  }
}

.add-patient-button {
  background-color: #8762fd;
  color: white;
  box-shadow: 2.5px 4.3px 21px 0 rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  height: 50px;
  width: 50px;
  border-color: transparent;
  font-size: 2rem;
  font-weight: bold;
}

.date {
  direction: ltr;
  font-weight: bold;
  font-size: 1.125rem;
  position: relative;
  top: 22px;
}

.sproket {
  margin: 0 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 5%;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  align-self: center;
  color: #191919;
}

.main-actions {
  display: flex;
  justify-content: space-between;
  margin: 70px 0 30px 0;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  .row {
	&.empty {
	  background: transparent;
	}
	display: flex;
	padding: 5px;
	.align {
	  position: relative;
	  top: 8px;
	}
	.big-col {
	  flex: 2;
	}
	.huge-col {
	  flex: 8;
	}
	.small-col {
	  flex: 1;
	}
	.flex-col {
	  display: flex;
	}
  }
  li {
	background: #ffffff;
	margin-bottom: 5px;
	padding: 0.8rem;
	font-weight: bold;
	color: #5a5a5a;
  }
  li.header {
	background: #191919;
	color: white;
	padding: 0.6rem;
  }
}
.col-title {
  font-size: 1.125rem;
  font-weight: bold;
}

.phone-number {
  direction: ltr;
}

.modal-bg {
  background: black;
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
}

.modal {
  position: absolute;
  top: 30%;
  right: 40%;
  background: white;
  margin: auto;
  padding: 30px;
  height: 230px;
  width: 300px;
  border: 1px solid gray;
  z-index: 9999;
  opacity: 1;
  display: flex;
  flex-direction: column;
  .field {
	display: flex;
	flex-direction: column;
	label {
	  font-size: 1rem;
	}
	margin-top: 2rem;
	margin-bottom: 0.4rem;
  }
}

.modal-button {
  height: 30px;
  width: 80px;
  background-color: #8762fd;
  box-shadow: 2.5px 4.3px 21px 0 rgba(0, 0, 0, 0.15);
  color: white;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  border-color: transparent;
  &.cancel {
	background-color: #959595;
  }
  &:disabled {
	background-color: #dadada;
	color: #cccccc;
	box-shadow: none;
  }
}

.action {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 30px;
  margin: 0 10px;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.remove {
  color: #959595;
  border: solid 2px #959595;
}

.arrived {
  color: #8762fd;
  border: solid 2px #8762fd;
  min-width: 126px;
}

.top {
  color: #8762fd;
  border: solid 2px #8762fd;
}


